<!-- in this section I imported the boostrap css styles and used the class container to make some style organization.
The message the component is printing is contained into the paragraph tag element.
The tag 'p' element has as an attribute a class "success-alert", in which is defined in the file success-alert.component.css. 
The CSS style of the class sets the content of the container with the color green.
-->
<div class="container">
    <p class="success-alert">success-alert works!</p>
</div>

